//- mixin
include partial/post-section

doctype html
html(lang="ja")
  include partial/head

  body
    include partial/global-header

    main.content
      each post in posts
        +post-section(post)

    include partial/global-footer
