body {
  margin: 0;
  background-image: url("noda-pattern.png");
}

@mixin v-shaped-container-next($gap, $bg-color) {
  &::before,
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: $gap;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  &::before {
    background-image: url('data:image/svg+xml,\
      <svg xmlns="http://www.w3.org/2000/svg" width="1" height="1" preserveAspectRatio="none">\
        <path d="M0 1l1-1v1z" fill="#{$bg-color}"/>\
      </svg>');
  }

  &::after {
    background-image: url('data:image/svg+xml,\
      <svg xmlns="http://www.w3.org/2000/svg" width="1" height="1" preserveAspectRatio="none">\
        <path d="M0 0l1-0v1z" fill="#{$bg-color}"/>\
      </svg>');
  }

  &__inner {
    padding: 1rem;
    background-color: $bg-color;
  }
}

.container-1 {
  @include v-shaped-container-next(100px, rgba(#000,.6));

  color: #fff;
}

.container-2 {
  @include v-shaped-container-next(100px, rgba(yellow,.6));

  margin-top: -100px;
}
