header.global-header
  if currentPath === '/'
    h1.global-header__logo= title
  else
    h1.global-header__logo
      a(href= urlFor('/'))= title
  aside.global-header__brand
    a(href="http://www.ryden.co.jp/") RYDEN Inc.
