{% assign description = page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape %}

{% assign twitter_card = "summary_large_image" %}
{% if page.id | slice: 0, 7 == "/posts/" %}
  {% if page.image %}
    {% assign _post_id = page.id | remove_first: "/posts/" %}
    {% assign ogImage = "/post/" | append: _post_id | append: "/" | append: page.image %}
  {% elsif page.author %}
    {% assign ogImage = "/author/" | append: site.data.authors[page.author].image %}
    {% assign twitter_card = "summary" %}
  {% endif %}
{% else %}
  {% assign ogImage = "/ogp.png" %}
{% endif %}
{% assign ogImage = ogImage | prepend: "/assets/images" | prepend: site.baseurl | prepend: site.url %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title | escape }} - {% endif %}{{ site.title | escape }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="twitter:card" content="{{ twitter_card }}">
  {% if site.data.authors[page.author].twitter %}
    <meta name="twitter:creator" content="@{{ site.data.authors[page.author].twitter }}">
  {% endif %}
  <meta property="og:title" content="{{ page.title | default: site.title }}">
  <meta property="og:type" content="{% if page.id | slice: 0, 7 == "/posts/" %}article{% else %}website{% endif %}">
  <meta property="og:image" content="{{ ogImage }}">
  <meta property="og:url" content="{{ site.url | append: site.baseurl | append: page.url }}">
  <meta property="og:description" content="{{description}}">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:locale" content="ja_JP">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | relative_url }}">
  {% feed_meta %}
</head>
