:root {
  font-family: $font-stack-ui;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: $line-height;
  text-rendering: optimizeLegibility;

  @media (min-width: $breakpoint-full) {
    font-size: percentage($ratio-root-text-large);
  }
}

body {
  margin: $margin ($margin / 2);
  color: $color-black;
  background-color: $color-white;
}

body::before {
  content: image("ryden.svg");
  position: fixed;
  right: 50%;
  bottom: 50%;
  z-index: -1;
  width: calc((100vmax + 100vmin) / 2);
  transform: translate(50%,50%) rotate(-45deg);
}

h1 {
  font-size: $ratio-text-large;
  line-height: $line-height-tiny;
}

h2 {
  line-height: $line-height-tiny;
}

h3 {
  line-height: $line-height-tiny;
}

p {
  margin: 0 0 $margin;
}

hr {
  margin: $margin-large 0;
  clear: both;
  line-height: 1;
  color: $color-gray;
  text-align: center;
  border: 0;

  &::before {
    content: "* * *"
  }
}

pre {
  $gutter: ($margin / 2);

  clear: both;
  margin: 0 (- $gutter) $margin;
  padding-right: $gutter;
  padding-left: $gutter;
  overflow: auto;
  font-size: $ratio-text-small;
  line-height: $line-height-tiny;
  background-color: $color-black;
  color: $color-white;

  @media (min-width: $breakpoint-content) {
    $m: calc((100vw - #{$width-content}) / 2 * -1);
    $p: calc((100vw - #{$width-content}) / 2);

    margin-right: $m;
    margin-left: $m;
    padding-right: $p;
    padding-left: $p;
  }

  @media (min-width: ($breakpoint-full + ($margin * 2))) {
    margin-right: (- $margin);
    margin-left: (- $margin);
    padding: ($margin / 2) $margin;
  }
}

ol,
ul {
  margin: 0 0 $margin;
}

figure {
  clear: both;
  margin: 0 0 $margin;
}

main {
  display: block; // for IE 11
}

a {
  color: $color-primary;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

code {
  font-size: 1em;
  font-family: $font-stack-monospace;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
}

th,
td {
  padding: .5em 1em;
  border-bottom: 1px solid $color-gray;
}

svg:not(:root) {
  overflow: hidden;
}
