:root {
  font-family: $font-stack-ui;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: $line-height;
  text-rendering: optimizeLegibility;

  $root-font-size-ratio: (18 / 16);
  @media (min-width: #{($width-content + $margin) * $root-font-size-ratio}) {
    font-size: percentage($root-font-size-ratio);
  }
}

body {
  margin: $margin ($margin / 2);
  color: $color-black;
  background-color: $color-white;
}

body::before {
  content: image("ryden.svg");
  position: fixed;
  right: 50%;
  bottom: 50%;
  z-index: -1;
  width: calc((100vmax + 100vmin) / 2);
  transform: translate(50%,50%) rotate(-45deg);
}

h1 {
  font-size: $ratio-text-large;
  line-height: $line-height-tiny;
}

p {
  margin: 0 0 $margin;
}

a {
  color: $color-primary;

  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

main {
  display: block; // for IE 11
}
