.content {
  max-width: $width-content;
  margin: $margin-huge auto;
  word-wrap: break-word; // for IE 11
  overflow-wrap: break-word;
  text-align: justify;

  pre {
    word-wrap: normal;
    overflow-wrap: normal;
  }
}
