.global-header {
  display: flex;
  max-width: $width-content;
  margin: $margin auto;
  padding-right: ($padding / 2);
  padding-left: ($padding / 2);

  h1 {
    flex: auto;
    margin: 0;
    font-size: 1rem;
  }

  h1 a {
    color: inherit;
    text-decoration: none;
  }

  aside p {
    margin: 0;
  }

  aside a {
    color: $color-gray;
    text-decoration: none;
  }

  aside a:hover {
    text-decoration: underline;
  }
}
