.post {
  margin-bottom: $margin-huge;

  &__link {
    display: block;
    color: inherit;
    text-decoration: none;
  }

  &__info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: $ratio-text-small;
  }

  &__avatar {
    $scale: $ratio-text-large / $ratio-text-small;

    width: $ratio-text-small;
    height: $ratio-text-small;
    margin-right: ($ratio-text-small * ($scale - 1) + $margin-tiny);
    transform: scale($scale);
    transform-origin: left center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
  }

  &__author {
    flex: auto;
    margin: 0;
  }

  &__date {
    margin-left: $margin;
    color: $color-gray;
  }

  &__heading {
    margin: $margin 0;
  }

  &__content {
    font-family: $font-stack-content;

    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: $margin-large 0 $margin;

      + h3,
      + h4,
      + h5,
      + h6 {
        margin-top: 0;
      }
    }

    .large {
      margin-right: (- ($margin / 2));
      margin-left: (- ($margin / 2));

      @media (min-width: $breakpoint-content) {
        margin: $margin-large calc((100vw - #{$width-content}) / 2 * -1);
      }

      @media (min-width: ($breakpoint-full + ($margin * 2))) {
        margin-right: (- $margin);
        margin-left: (- $margin);
      }

      img {
        width: 100%;
      }
    }

    .drop-left {
      float: left;
      max-width: 50%;
      margin: 0 $margin $margin-small (- ($margin / 2));

      @media (min-width: $breakpoint-content) {
        margin-left: calc((100vw - 40rem) / 2 * -1);
      }

      @media (min-width: ($breakpoint-full + ($margin * 2))) {
        margin-left: (- $margin);
      }
    }

    .drop-right {
      float: right;
      max-width: 50%;
      margin: 0 (- ($margin / 2)) $margin-small $margin;

      @media (min-width: $breakpoint-content) {
        margin-right: calc((100vw - 40rem) / 2 * -1);
      }

      @media (min-width: ($breakpoint-full + ($margin * 2))) {
        margin-right: (- $margin);
      }
    }

    .centered {
      display: flex;
      justify-content: center;
      margin: 0 0 $margin-small;
    }

    .cover {
      margin: $margin-large (- ($margin / 2));

      @media (min-width: $breakpoint-content) {
        $m: calc((100vw - 40rem) / 2 * -1);

        margin-right: $m;
        margin-left: $m;
      }

      img {
        width: 100%;
      }
    }
  }
}
