$font-stack-system-ui: system-ui, -apple-system, "Hiragino Sans", "Yu Gothic UI", "Segoe UI", "Meiryo", sans-serif;
$font-stack-sans-serif: "Hiragino Sans", "Meiryo", sans-serif;
$font-stack-monospace: Menlo, Consolas, monospace;

$color-black: hsl(0, 0%, 14%);
$color-white: hsl(0, 0%, 99%);
$color-gray: hsl(0, 0%, 46%);
$color-gray-light: mix($color-gray, $color-white);
$color-blue: hsl(199, 100%, 29%);
$color-blue-light: mix(mix($color-blue, $color-white), $color-white);

$ratio: 1.7;

$line-height: $ratio;
$line-height-sm: ($ratio * .8);

$spacing: ($ratio * 1rem);
$spacing-xs: ($spacing / $ratio / $ratio);
$spacing-sm: ($spacing / $ratio);
$spacing-lg: ($spacing * $ratio);
$spacing-xl: ($spacing * $ratio * $ratio);

$text-size: 1rem;
$text-size-sm: ($text-size / ((1 + 1 + 1 + 1 + $ratio) / 5));
$text-size-lg: ($text-size * ((1 + 1 + 1 + $ratio) / 4));
$text-size-xl: ($text-size * ((1 + $ratio) / 2));
$text-size-xxl: ($text-size * $ratio);

$ratio-text-size-root-lg: (20 / 16);

$width-content: (40 * $text-size);

$breakpoint-md: ((($width-content + ($spacing-sm * 2)) / $ratio) / 1rem * 1em);
$breakpoint-lg: ((($width-content + ($spacing-sm * 2)) * $ratio-text-size-root-lg) / 1rem * 1em);
