doctype xml
feed(xmlns="http://www.w3.org/2005/Atom")
  title= title
  link(rel="self", href="")
  updated
  id= url

  each post in posts
    entry
      title= post.title
      link(rel="self", href="")
      id
      updated
      author
        name= post.author.name_ja
      content
      summary
