//- mixin
include partial/post-section

doctype html
html(lang="ja")
  include partial/head

  body
    include partial/global-header

    main.content
      +post-section(post, true)


      ul
        if (post.next)
          li
            a(href= urlFor(post.next.link))= post.next.title
        if (post.prev)
          li
            a(href= urlFor(post.prev.link))= post.prev.title

    include partial/global-footer
