// include useragent stylesheet from webkit
article
aside
nav
section
  h1
    font-size 1.5em
    margin-top .83em
    margin-bottom .83em

  article
  aside
  nav
  section
    h1
      font-size 1.17em
      margin-top 1em
      margin-bottom 1em

// my styles
:root
  line-height 1.7
  font-family font-stack-ui
  color black
  text-rendering optimizeLegibility
  background-color white

body::before
  content url("../img/ryden.svg")
  position fixed
  right 50%
  bottom 50%
  z-index -1
  width 100vh
  padding 1rem 1.5rem 3rem
  transform translate(50%,50%) rotateZ(-90deg) "translateY(calc((-100% - %s) / 2))" % width-content
  box-sizing border-box

img
  max-width 100%
  vertical-align middle

figure
  margin-left 0
  margin-right 0

a
  color color-primary

  &:hover
  &:active
  &:focus
    text-decoration none

table
  border-collapse collapse

th,
td
  padding .5em 1em
  border-bottom 1px solid color-dark

hr
  height 1em
  margin-top 3rem
  margin-bottom 3rem
  line-height 1
  color color-dark
  text-align center
  background-color transparent
  border 0

  &::before
    content "* * *"

code
  padding .1em .2em
  font-family font-stack-monospace
  font-size .8em
  background-color #eee
  border 1px solid color-dark
  border-radius 4px
