.global-footer
  @extend $container
  @extend $container-minimum

  font-size font-size-small
  text-align center

  p
    display inline-block
    margin-top 0
    margin-bottom 0

  ul
    display inline-block
    margin-top 0
    margin-bottom 0
    padding-left 0
    list-style none

  li
    display inline-block

    &::before
      content "・"
      color color-dark
      opacity .5
