.global-footer
  @extend $container
  @extend $container-minimum

  font-size font-size-small
  text-align center

  p,
  ul,
  li
    display inline-block

  p,
  ul
    margin-top 0
    margin-bottom 0

  ul
    padding-left 0
    list-style none

  li::before
    content "・"
    color color-dark
    opacity .5
