width-content = 40rem

font-family-ui = -apple-system, "Segoe UI", sans-serif
font-family-sentences = "Hiragino Mincho ProN", "HGS明朝E", serif

font-size-default = 1rem
font-size-small = .8rem

black = #333
white = #fcfcfc
color-dark = lighten(black, 50%)
color-primary = #009ffd
