width-content = 40rem

font-stack-ui = -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif
font-stack-content = serif
font-stack-monospace = Menlo, Consolas, monospace

font-size-default = 1rem
font-size-small = .8rem

black = #333
white = #fcfcfc
color-dark = lighten(black, 50%)
color-primary = #009ffd
