.large
  margin-left -1rem
  margin-right -1rem

  @media (min-width: 42rem)
    margin 3rem calc((100vw - 40rem) / -2)

  @media (min-width: 60rem)
    margin-left -10rem
    margin-right -10rem

  img
    min-width 100%

$drop
  p = (1.7 - 1) / 2 rem

  max-width 50%
  margin-top 0
  margin-bottom 0
  padding-top p
  padding-bottom p

  @media (min-width: 60rem)
    max-width 30rem

  img
    @media (min-width: 60rem)
      min-width 10rem

.drop-left
  @extend $drop
  m = 1.7

  float left
  margin-right (m / 2)rem

  @media (min-width: 30rem)
    margin-right m rem

  @media (min-width: 60rem)
    margin-left -10rem

.drop-right
  @extend $drop
  m = 1.7

  float right
  margin-left (m / 2)rem

  @media (min-width: 30rem)
    margin-left m rem

  @media (min-width: 60rem)
    margin-right -10rem

.cover
  margin-left -1rem
  margin-right -1rem

  @media (min-width: 42rem)
    margin 3rem "calc((-100vw + %s) / 2)" % width-content

  img
    min-width 100%
