body
  margin 0

v-shaped-container(gap, bg-color)
  width-full = 100vw

  triangle(h, c)
    position absolute
    z-index -1
    width 0
    height 0
    border-style solid
    border-width h width-full h 0
    border-color transparent c transparent transparent

  position relative
  padding-top gap
  padding-bottom gap

  &::before
    triangle(gap, bg-color)

    content ""
    top 0

  &::after
    triangle(gap, bg-color)

    content ""
    bottom 0

  &__inner
    background-color bg-color

.container
  v-shaped-container(100px, black)

  color white

  &__inner
    padding 1rem

    :first-child
      margin-top 0

    :last-child
      margin-bottom 0
