:root {
  font-family: $font-stack-ui;
  font-size: percentage($ratio-text-root);
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: $line-height;
  text-rendering: optimizeLegibility;

  @media (min-width: $breakpoint-full) {
    font-size: percentage($ratio-text-root-full);
  }
}

body {
  margin: $margin 0;
  color: $color-black;
  background-color: $color-white;

  &::before {
    content: image("ryden.svg");
    position: fixed;
    right: 50%;
    bottom: 50%;
    z-index: -1;
    width: calc((100vw + 100vh) / 2);
    transform: translate(50%,50%) rotate(-45deg);

    @media print {
      display: none;
    }
  }
}

h1,
h2,
h3 {
  line-height: $line-height-tiny;
}

h1 {
  font-size: rem($ratio-text-large);
}

p {
  margin: 0 0 $margin;
}

hr {
  clear: both;
  margin: $margin-large 0;
  line-height: 1;
  color: $color-gray;
  text-align: center;
  border: 0;

  &::before {
    content: "* * *"
  }
}

pre {
  clear: both;
  margin: 0 (- $width-gap) $margin;
  padding: ($width-gap / 2) $width-gap;
  overflow: auto;
  font-size: rem($ratio-text-small);
  line-height: $line-height-tiny;
  background-color: $color-black;
  color: $color-white;

  @media print {
    background-color: inherit;
    color: inherit;
  }

  @media (min-width: $breakpoint-content) {
    $m: calc((100vw - #{$width-content}) / 2 * -1);
    $p: calc((100vw - #{$width-content}) / 2);

    margin-right: $m;
    margin-left: $m;
    padding-right: $p;
    padding-left: $p;
  }

  @media (min-width: ($breakpoint-full + ($margin * 2))) {
    margin-right: (- $margin);
    margin-left: (- $margin);
    padding-right: $margin;
    padding-left: $margin;
  }
}

ol,
ul {
  margin: 0 0 $margin;
  padding-left: $indent;
}

figure {
  clear: both;
  margin: 0 0 $margin;
}

main {
  display: block; // for IE 11
}

a {
  color: $color-primary;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

code {
  font-size: 1em;
  font-family: $font-stack-monospace;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
}

th,
td {
  padding: .5em 1em;
  border-bottom: 1px solid $color-gray;
}

svg:not(:root) {
  overflow: hidden;
}
