.content {
  max-width: $width-content;
  margin: $margin-huge auto;
  padding-right: $width-gap;
  padding-left: $width-gap;
  word-wrap: break-word; // for IE 11
  overflow-wrap: break-word;
  text-align: justify;

  @media print {
    margin-top: 0;
    margin-bottom: 0;
  }

  pre {
    word-wrap: normal;
    overflow-wrap: normal;
  }
}
