.global-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $width-content;
  margin-right: auto;
  margin-left: auto;

  @media print {
    display: none;
  }

  &__logo {
    margin: 0;
    font-size: rem($ratio-text);
  }

  &__logo a {
    color: inherit;
    text-decoration: none;
  }

  &__brand {
    margin-left: $margin;
    font-size: rem($ratio-text-small);
  }

  &__brand a {
    color: $color-gray;
    text-decoration: none;
  }

  &__brand a:hover {
    text-decoration: underline;
  }
}
