.global-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: $width-content;
  margin-right: auto;
  margin-left: auto;
  font-size: rem($ratio-text-small);

  @media print {
    display: none;
  }

  &__copyright {
    margin: 0;
  }

  &__misc {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__misc li::before {
    content: "・";
    color: $color-light-gray;
  }
}
