.pagination {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;

  @media print {
    display: none;
  }

  &__next,
  &__prev {
    margin-left: $indent;
    text-indent: (- $indent);
  }

  &__next + &__prev {
    margin-top: $margin;
  }

  &__next::before,
  &__prev::before {
    font-size: $ratio-text-small;
    white-space: pre;
  }

  &__next::before {
    content: "次の記事\A";
  }

  &__prev::before {
    content: "前の記事\A";
  }
}
