.post {
  margin-bottom: $margin-huge;

  &__link {
    display: block;
    color: inherit;
    text-decoration: none;
  }

  &__info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: rem($ratio-text-small);

    @media print {
      justify-content: flex-start;
    }
  }

  &__avatar {
    $scale: ($ratio-text-large / $ratio-text-small);

    width: rem($ratio-text-small);
    height: rem($ratio-text-small);
    margin-right: (rem($ratio-text-small * ($scale - 1)) + $margin-tiny);
    transform: scale($scale);
    transform-origin: left center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;

    @media print {
      display: none;
    }
  }

  &__author {
    flex: auto;
    margin: 0 $margin 0 0;
  }

  &__date {
    color: $color-gray;

    @media print {
      color: inherit;
    }
  }

  &__heading {
    margin: $margin 0;

    @media print {
      margin-top: $margin-small;
      margin-bottom: $margin-small;
    }
  }

  &__content {
    font-family: $font-stack-content;

    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: $margin-large 0 $margin;

      + h3,
      + h4,
      + h5,
      + h6 {
        margin-top: 0;
      }
    }

    figure img {
      vertical-align: middle;
    }

    .large {
      margin-right: (- $width-gap);
      margin-left: (- $width-gap);
      text-align: center;

      @media (min-width: $breakpoint-content) {
        margin: $margin-large calc((100vw - #{$width-scrollbar} - #{$width-content}) / 2 * -1);
      }

      @media (min-width: ($breakpoint-full + ($margin * 2))) {
        margin-right: (- $margin);
        margin-left: (- $margin);
      }
    }

    .large img {
      max-width: 100%;
    }

    .drop-left {
      float: left;
      max-width: 50%;
      margin: 0 $margin $margin-small (- $width-gap);

      @media (min-width: $breakpoint-content) {
        margin-left: calc((100vw - #{$width-scrollbar} - #{$width-content}) / 2 * -1);
      }

      @media (min-width: ($breakpoint-full + ($margin * 2))) {
        min-width: calc((100vw - #{$width-scrollbar} - 100%) / 2);
        margin-left: calc((100vw - #{$width-scrollbar} - 100%) / -2 + #{$margin});
        text-align: right;
      }

      @media (min-width: (($breakpoint-full - $margin) * 2 - $width-gap)) {
        margin-left: calc(-50% + #{$margin});
        min-width: 50%;
      }
    }

    .drop-right {
      float: right;
      max-width: 50%;
      margin: 0 (- $width-gap) $margin-small $margin;

      @media (min-width: $breakpoint-content) {
        margin-right: calc((100vw - #{$width-scrollbar} - #{$width-content}) / 2 * -1);
      }

      @media (min-width: ($breakpoint-full + ($margin * 2))) {
        min-width: calc((100vw - #{$width-scrollbar} - 100%) / 2);
        margin-right: calc((100vw - #{$width-scrollbar} - 100%) / -2 + #{$margin});
      }

      @media (min-width: (($breakpoint-full - $margin) * 2 - $width-gap)) {
        margin-right: calc(-50% + #{$margin});
        min-width: 50%;
      }
    }

    .centered {
      margin: 0 0 $margin-small;
      text-align: center;
    }

    .cover {
      margin: $margin-large (- $width-gap);

      @media (min-width: $breakpoint-content) {
        $m: calc((100vw - #{$width-scrollbar} - #{$width-content}) / 2 * -1);

        margin-right: $m;
        margin-left: $m;
      }
    }

    .cover img {
      width: 100%;
    }
  }

  &__read-more {
    font-size: rem($ratio-text-small);
    color: $color-gray;
    text-decoration: underline;
  }

  &__link:hover &__read-more,
  &__link:active &__read-more,
  &__link:focus &__read-more {
    text-decoration: none;
  }
}
