.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: $margin-large;
  margin-bottom: $margin-huge;

  @media (min-width: $breakpoint-content) {
    flex-direction: row;
  }

  @media print {
    align-items: flex-end;
    margin-top: 0;
    margin-bottom: $margin;
  }

  &__author {
    width: rem($ratio * $ratio * $ratio * $ratio); // todo: refactor
    margin-bottom: $margin-small;

    @media (min-width: $breakpoint-content) {
      flex: 1;
      margin-bottom: 0;
    }

    @media print {
      display: none;
    }
  }

  &__author img {
    border-radius: 50%;
    vertical-align: middle;
  }

  &__detail {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $breakpoint-content) {
      flex: ($ratio * $ratio * $ratio); // todo: refactor
      align-items: stretch;
      margin-left: $margin-large;
    }
  }

  &__title {
    margin: 0;
    font-size: rem($ratio-text-small);

    @media print {
      display: none;
    }
  }

  &__name {
    margin: 0 0 $margin-tiny;
    font-weight: bold;

    @media print {
      margin-bottom: 0;
    }
  }

  &__name::before {
    @media print {
      content: "著者：";
      font-weight: normal;
    }
  }

  &__description {
    margin: 0;
    font-size: rem($ratio-text-small);

    @media print {
      display: none;
    }
  }
}
