.social {
  margin-top: ($margin-large - $margin-huge);
  margin-bottom: $margin-huge;

  @media print {
    display: none;
  }

  ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    margin-left: $margin-tiny;
  }

  a {
    display: block;
    padding: rem((3 - $ratio) / 2);
  }

  svg {
    $size: rem($ratio);

    display: block;
    width: $size;
    height: $size;
  }

  path {
    fill: $color-black;
    transition: fill .3s ease-out;
  }

  &__twitter:hover path {
    fill: #1da1f2;
  }

  &__facebook:hover path {
    fill: #3b5998;
  }
}
