.social {
  $icon-size: (16px * $ratio);
  $icon-size-full: ($icon-size * $ratio-text-root-full);

  margin-top: ($margin-large - $margin-huge);
  margin-bottom: $margin-huge;

  @media print {
    display: none;
  }

  ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    margin-left: $margin-tiny;
  }

  a {
    display: block;
    padding: ((48px - $icon-size) / 2);

    @media (min-width: $breakpoint-full) {
      padding: ((48px - $icon-size-full) / 2);
    }
  }

  svg {
    display: block;
    width: $icon-size;
    height: $icon-size;

    @media (min-width: $breakpoint-full) {
      width: $icon-size-full;
      height: $icon-size-full;
    }
  }

  path {
    fill: $color-black;
    transition: fill .3s ease-out;
  }

  &__twitter:hover path {
    fill: #1da1f2;
  }

  &__facebook:hover path {
    fill: #3b5998;
  }
}
