// ratio
$ratio: 1.7;

$ratio-text-primary: 1;
$ratio-text-secondary: 1.5;
$ratio-text: rem($ratio-text-primary);
$ratio-text-small: rem($ratio-text-secondary / $ratio);
$ratio-text-large: rem($ratio-text-secondary);

$ratio-root-text-large: (18 / 16);

$margin: rem($ratio);
$margin-tiny: ($margin / $ratio / $ratio);
$margin-small: ($margin / $ratio);
$margin-large: ($margin * $ratio);
$margin-huge: ($margin * $ratio * $ratio);

$indent: $margin;

$line-height: $ratio;
$line-height-tiny: ($ratio * 0.8);
$line-height-small: ($ratio * 0.9);

$width-content: 40rem;
$width-gap: ($margin / 2);

$breakpoint-content: ($width-content + ($width-gap * 2));
$breakpoint-full: ($breakpoint-content * $ratio-root-text-large);

// color
$color-black: hsl(0, 0, 20%);
$color-white: hsl(0, 0, 98%);
$color-gray: mix($color-black, $color-white);
$color-light-gray: mix($color-gray, $color-white);
$color-primary: hsl(202deg, 100%, 49%);

// font
$font-stack-system-ui: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif;
$font-stack-ui: $font-stack-system-ui;

$font-stack-serif: "Yu Mincho", YuMincho, serif;
$font-stack-content: $font-stack-serif;

$font-stack-monospace: "Menlo", "Consolas", monospace;
