.article-read-more {
  font-size: $text-size-sm;
  line-height: $line-height-sm;
  color: $color-gray;
  text-decoration: underline;
  text-decoration-color: $color-gray-light;
  text-decoration-skip: ink;
}
