.drop-left {
  float: left;
  max-width: 50%;
  margin: ((($text-size * $line-height) - $text-size) / 2) $spacing ($text-size * $line-height / 2) ($spacing-xs * -1);
}

.drop-left:last-child {
  margin-bottom: 0;
}
