.large {
  clear: both;
  margin: 0 ($spacing-sm * -1) $spacing;
}

.large img {
  width: 100%;
}

.large figcaption {
  margin: $spacing-xs $spacing-sm 0;
  font-size: $text-size-sm;
  line-height: $line-height-sm;
}
