body
  p = 3rem

  margin 0
  padding-top p
  padding-bottom p

skewed-container(deg, bg-color)
  width-full = 100vw
  width-half = width-full / 2
  tan = tan(abs(deg))
  gap = width-full * tan
  gap-half = width-half * tan

  position relative
  padding-top gap
  padding-bottom gap

  &::before
    content ""
    position absolute
    top gap-half
    right 0
    bottom gap-half
    left 0
    z-index -1
    transform skewY(deg)
    background-color bg-color

.container
  &:nth-child(odd)
    skewed-container(3deg, black)

    color white

  &:nth-child(even)
    skewed-container(-3deg, #eee)

  :first-child
    margin-top 0

  :last-child
    margin-bottom 0
