body
  margin 0
  background-image url("/rookies/demos/v-shaped-container/noda-pattern.png")

v-shaped-container(gap, bg-color)
  width-full = 100vw

  triangle(h, c)
    position absolute
    width 100%
    height h
    overflow hidden

    &::before
      content ""
      position absolute
      width 0
      height 0
      border-style solid
      border-width h width-full h 0
      border-color transparent c transparent transparent

  triangle-top(h, c)
    triangle(h, c)

    top 0

    &::before
      top 0

  triangle-bottom(h, c)
    triangle(h, c)

    bottom 0

    &::before
      bottom 0

  position relative
  padding-top gap
  padding-bottom gap

  &__top
    triangle-top(gap, bg-color)

  &__inner
    padding 1rem
    background-color bg-color

  &__bottom
    triangle-bottom(gap, bg-color)

.container-1
  v-shaped-container(150px, rgba(red,.6))

  color white

.container-2
  v-shaped-container(150px, rgba(blue,.6))

  margin-top -150px
  color white
